.header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  height: 15vh;
  width: 100%;
  &-text1 {
    grid-column: 7 / span 3;
    padding: 1rem;
    border-left: 1px solid white;
  }
  &-text2 {
    grid-column: 10 / span 3;
    padding: 1rem;
    border-left: 1px solid white;
  }
}
