.header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  width: 100%;
  max-height: 20vh;
  &-text1 {
    display: flex;
    align-items: center;
    grid-column: 7 / span 3;
    padding: 1rem;
    max-width: 400px;
    border-left: 1px solid white;
    letter-spacing: 1px;
    p {
      font-size: 1.2rem;
      small {
        padding-right: 10px;
      }
    }
  }
  &-text2 {
    grid-column: 10 / span 3;
    padding: 1rem;
    border-left: 1px solid white;
    &__main {
      padding: 1rem 0;
      small {
        font-size: 1rem;
      }
    }
    p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      background-color: black;
      width: fit-content;
      // padding-top: 1rem;
    }
  }
}
